/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: border-box;
    box-sizing: 'Poppins',sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightblue;

}

.wrapper
{
    position: relative;
    width: 600px;
    height: 400px;
    background: wheat;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

i{
    font-size: 7.5em;
    color: lightblue;
    border: 5px solid transparent;
    outline: 3px solid lightblue;
    border-radius: 50;

} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightpink;
  }

  .wrapper{
    position: relative;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

i{
    font-size: 7.5em;
    color: lightpink;
    border: 5px solid transparent;
    outline: 3px solid lightpink;
    border-radius: 50%;


}

h2{
    font-size: 2em;
    color: lightpink;
    margin: 15px;

}

.btn-group{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}

button{
    position: absolute;
    width: 150px;
    height: inherit;
    font-size: 1.2em;
    color: white;
    font-weight: 600;
    border-radius: 30px;
    border: 20px solid lightpink;
    outline: none;
    cursor:pointer ;
    box-shadow:0.2px 4px rgb(0, 0,0,.3) ;
}

button:nth-child(1)
{
    margin-left: -200px;
    background-color: lightpink;
    text-align: center;
    padding-bottom: 15px;
}

button:nth-child(2)
{
    margin-right: -200px;
    background-color: lightpink;
    text-align: center;
    padding-bottom: 15px;
}